/* .carousel-control-prev-icon{
    background-image: url("../../../../assets/arrow-1.png") !important;
    border-image: none !important;
    position: relative;
    top: -4em;
}

.carousel-control-next-icon{
    background-image: url("../../../../assets/arrow-2.png") !important;
    border-image: none !important;
    position: relative;
    top: -4em;
} */